div{
    width: 300px;
    height: 100px;
}
@media screen and (max-width: 1920px){
    div{
        background-color: yellow;
    }
    h1:after{
        content: '1920px';
    }
    h2:after{
        content: 'amarelo';
    }
}
@media screen and (max-width: 1366px){
    div{
        background-color: purple;
    }
    h1:after{
        content: '1366px';
    }
    h2:after{
        content: 'roxo';
    }
}
@media screen and (max-width: 1080px){
    div{
        background-color: red;
    }
    h1:after{
        content: '1080px';
    }
    h2:after{
        content: 'vermelho';
    }
}
@media screen and (max-width: 1024px){
    div{
        background-color: magenta;
    }
    h1:after{
        content: '1024px';
    }
    h2:after{
        content: 'magenta';
    }
}
@media screen and (max-width: 768px){
    div{
        background-color: orange;
    }
    h1:after{
        content: '768px';
    }
    h2:after{
        content: 'laranja';
    }
}
@media screen and (max-width: 420px){
    div{
        background-color: gray;
    }
    h1:after{
        content: '420px';
    }
    h2:after{
        content: 'cinza';
    }
}
